### 함수

In [ ]:
# 지난 수업 리마인드

a = 1
def vartest(a):
    a = a + 1

vartest(a) # 리턴값이 없으므로 출력되지 않는다. 
print(a) # 1

In [1]:
def vartest(a):
    a = a + 1

vartest(3)
print(a)

NameError: name 'a' is not defined

In [ ]:
# 바깥의 변수 a 에 대해 작동하도록 변경 
a = 1
def vartest():
    global a # 글로벌 변수
    a = a + 5

print(a)
vartest()
print(a)

1
6

In [9]:
def say_myself(name, age, man = True, hobby='coding'):
    print(f"{name}, {age}")
    print(man)
    print(hobby)

In [10]:
say_myself('jimin', 29, man = False, hobby = 'game')

jimin, 29
False
game

In [ ]:
# 내장 함수

# zip 함수
# zip(*iterable) 
# for i in range

In [15]:
r = (52, 255, 39, 132)
g = (19, 50, 100, 44)
b = (52, 60, 39, 86)

zip_object = zip(r, g, b)
print(zip_object)

img = list(zip_object)
print(img)

print(img[0])
print(type(img[0]))

<zip object at 0x0000017551CAF280>
[(52, 19, 52), (255, 50, 60), (39, 100, 39), (132, 44, 86)]
(52, 19, 52)
<class 'tuple'>

#### enumerate

In [16]:
fruits = ['apple', 'banana', 'chery', 'date']

In [17]:
for i in fruits:
    print(i)

apple
banana
chery
date

In [18]:
for i in range(len(fruits)):
    print(i, fruits[i])

0 apple
1 banana
2 chery
3 date

In [19]:
f = ('apple', 'banana', 'chery', 'date')

In [22]:
dict(enumerate(f, 1))

{1: 'apple', 2: 'banana', 3: 'chery', 4: 'date'}

#### map

In [ ]:
# 예제 
my_list = [1, 2, 3, 4, 5]
# => [2, 3, 4, 5, 6 ]

In [24]:
result = []
for i in my_list:
    result.append(i+1)
print(result)

[2, 3, 4, 5, 6]

In [34]:
mylist = [1, 2, 3, 4, 5]

def add_one(n):
    return n + 1

result = list(map(add_one, mylist))
result

[2, 3, 4, 5, 6]

In [31]:
for i in range(len(mylist)):
    result.append(add_one(mylist[i]))

In [35]:
mylist = [3.14, -5.6, 100.4, 25.0]

result = list(map(round, mylist))
result

[3, -6, 100, 25]

In [36]:
round(100.4)

100

#### filter

In [ ]:
def f(x):
    return x > S and x < 10

a = [8, 3, 2, 10, 15, 7, 1, 9, 0, 11]
list(filter)

In [3]:
a = [8, 3, 2, 10, 15, 7, 1, 9, 0, 11]

In [9]:
# 람다함수 사용
list(filter(lambda x: x>5 and x <10, a))

[8, 7, 9]

In [1]:
def f(x):
    return x > 5 and x < 10

In [4]:
list(filter(f, a))

[8, 7, 9]

In [ ]:
result = []

for i in a:
    if i > 5 and i < 10:
        result.append(i)
result

#### 람다 함수(익명 함수)

In [7]:
mylist = [1, 2, 3, 4, 5]

result = list(map(lambda x: x+1, mylist))
print(result)

[2, 3, 4, 5, 6]

In [10]:
numbers = [1, 2, 3, 4]
squared = list(map(lambda x: x **2, numbers))
print(squared)

[1, 4, 9, 16]

In [13]:
numbers = [1, 2, 3 , 4, 5, 6]
even_numbers = list(filter(lambda x: x % 2 == 0, numbers))
print(even_numbers)

[2, 4, 6]

In [19]:
# 다시 확인하기

points = [(1, 2), (3, 4), (5, 1), (4, 1)]
sorted_points = sorted(points, key = lambda x: (x[1], x[0]))
print(sorted_points)

[(4, 1), (5, 1), (1, 2), (3, 4)]

In [ ]:
my_numbers = sorted(numbers, reverse = True)

In [15]:
fruits = ['apple', 'banana', 'cherry', 'date']

In [ ]:
# sort는 원본을 건드린다. 
# sorted는 복사본을 만들어서 건드린다.
myfruits = sorted(fruits, key = len)
myfruits

['date', 'apple', 'banana', 'cherry']

In [ ]:
# 도전 문제
# 등 수 구하기

score = [[80, 70], [90, 50], [40, 70], [50, 80]]
# avg_points = list(lambda x: (x[o] + x[1]) / 2)

# 복습하기! 

def rank(score):
    result = []
    avg = []
    for i, j in score: 
    # 1. 평균값을 가지는 리스트
        # print((i+j) / 2)
        avg.append((i+j) / 2)

    # 2. 평균값을 내림차순으로 정렬
    avg_sort = sorted(avg, reverse= True)
    # print(avg_sort)

    # 3. 비교해서 등수처리
    for i in avg:
        result.append(avg_sort.index(i) + 1)
    return result
    
rank(score)
# def rank(score):
#     result = []
#     # YOUR_CODE_HERE
#     return result

[1, 2, 4, 3]

In [ ]:
# 소수 판별하는 함수
# 입력 
# [2, 3, 4, 5, 6, 7, 8, 9] 
# 출력
# [True, True, False, True, ....]

p = [2, 3, 4, 5, 6, 7, 8, 9] 


def is_prime(num_list):
    result = []
    for num in num_list:
        isprime = True
        for i in range(2, num):
            if num % i == 0:
                isprime = False
                break
        result.append(isprime)
    return result

is_prime(p)


# def is_prime(p):
#     result = []
#     for i in range(len(p)):
#         if p[i] % i == 0:
#             result.append(False)
#         else:
#             result.append(True)
#     return result

[True, True, False, True, False, True, False, False]

#### 모듈