## 2025-09-22

In [43]:
# 지난 시간 warm-up 별찍기

n = 10

for i in range(1, n + 1):
    for j in range(n - i):
        print("-", end="")
    print("*")

---------*
--------*
-------*
------*
-----*
----*
---*
--*
-*
*

In [44]:
n = 10

for i in range(1, n + 1):
    for j in range(n - i):
        print("-", end = "")
    for j in range(i):
        print('*', end="")
    print("")

---------*
--------**
-------***
------****
-----*****
----******
---*******
--********
-*********
**********

In [45]:
n = 10

for i in range(1, n + 1):
    for j in range(n - i):
        print(" ", end = "")
    for j in range(2 * i - 1):
        print('*', end="")
    print("")

         *
        ***
       *****
      *******
     *********
    ***********
   *************
  ***************
 *****************
*******************

In [46]:
n = 10
for i in range(1, n + 1):
    space = ' ' * (n - i)
    stars = '*' * (2 * i - 1)
    print(space + stars)

         *
        ***
       *****
      *******
     *********
    ***********
   *************
  ***************
 *****************
*******************

In [47]:
for, while에서의 탈출 -> break
중첩 반복문에서의 탈출?

SyntaxError: invalid syntax (1166781226.py, line 1)

In [ ]:
num = 0
break_all = False

for i in range(5):
    for j in range(5):
        # print(f" (i = {i}, j={j})")
        if i == 2 and j == 3:
            num = i * j
            break_all = True
            break
    if break_all:
        break
print(num)

In [ ]:
# n = 사용자로부터 n개의 숫자를 입력받은 뒤
# 별을 출력하되 별의 갯수만큼 출력하다가 별이 소진되면 멈추는 코드 완성

n = 30 
star = 0
break_all = False # flag 변수

for i in range(1, 10 + 1):
    for j in range(i): 
        star += 1
        if star > n:
            break_all = True
            break
        print('*', end="")
    if break_all:
        break
    print()

*
**
***
****
*****
******
*******
**

### 문자열 인덱스

In [ ]:
my_str = "Hello, Python"

In [ ]:
# 인덱싱
my_str[0]

'H'

In [ ]:
my_str[-1]

'n'

In [ ]:
my_str[7:11]

'Pyth'

In [ ]:
# 슬라이싱 [start:end:step]
my_str[::3]

'Hl tn'

In [ ]:
my_str[::-1]

'nohtyP ,olleH'

In [ ]:
type(my_str)

str

In [ ]:
len(my_str) # 양수인덱스의 길이를 확인할 때, 사용가능한 함수

13

In [ ]:
for i in my_str:
    print(i)

In [ ]:
for i in range(len(my_str)):
    print(my_str[i])

H
e
l
l
o
,

P
y
t
h
o
n

In [ ]:
# 문자열 데이터의 여러가지 기능 

# 소문자로 바꾸는 함수 -> Lower 
my_str.lower()

'hello, python'

In [ ]:
# 대문자로 바꾸는 함수 -> Upper
my_str.upper()

'HELLO, PYTHON'

In [ ]:
# 쪼개는 함수
words = my_str.split(',')
print(words)

['Hello', ' Python']

### 컬렉션 자료형

### 리스트

1. 리스트 : 다양한 형태의 데이터를 순서대로 저장하고 조작하는 기본 자료형

In [ ]:
numbers = [1, 2, 3, 4, 5]

In [ ]:
type(numbers)

list

In [ ]:
fruits = ['apples', 'banana', 'mango']

In [ ]:
mixed = [1, 'apple', True, [10, 20, 30, 40]]

In [ ]:
numbers1 = [1,2,3,4,5]
numbers2 = [6,7,8,9,10]

In [ ]:
numbers1 + numbers2

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
numbers1 * 3

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [ ]:
fruits[-1]

'mango'

In [ ]:
fruits[0] = 'grape'

In [ ]:
# 뒤에 추가하기 (append)
fruits.append('cherry')

In [ ]:
# 특정 위치를 지정해서 삽입하기 (insert)
fruits.insert(2, 'kiwi')

In [ ]:
# 리스트의 끝에 각 항목을 하나씩 추가한다.
fruits.extend(['orange', 'date'])

In [ ]:
fruits

['grape', 'banana', 'kiwi', 'mango', 'cherry', 'orange', 'date']

In [ ]:
# 리스트의 끝 항목 하나만 꺼내기
fruits.pop()

'date'

In [ ]:
fruits.count('cherry')

1

In [ ]:
fruits.remove('cherry')

In [ ]:
fruits.index('orange')

5

In [ ]:
fruits.append('apple')

['grape', 'banana', 'kiwi', 'kiwi', 'mango', 'orange', 'cherry']

In [ ]:
fruits.sort(reverse = True)

In [ ]:
# 뒤집기
fruits.reverse()

In [ ]:
fruits = ['apple', 'banana', 'mango', 'cherry']

In [ ]:
for i in fruits:
    print(i)

apple
banana
mango
cherry

In [ ]:
for i in range(len(fruits)) :
    print(f"{i}번째 과일 {fruits[i]}")

0번째 과일 apple
1번째 과일 banana
2번째 과일 mango
3번째 과일 cherry

In [ ]:
numbers = [10, 20, 30, 40, 50]

In [ ]:
len(numbers)

5

In [ ]:
max(numbers)

50

In [ ]:
sum(numbers)

150

In [ ]:
# 평균값은?
average = sum(numbers)/len(numbers)

In [ ]:
# 반복문을 이용해서 리스트를 간단하게 생성 -> 리스트 컴프리헨션
numbers = [i**2 for i in range(1, 10 + 1)]
numbers

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
num_list = []
for i in range(10):
    # print(i)
    num_list.append(i)
num_list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
numbers = [i for i in range(1, 10+1) if i%2 == 0]
numbers

[2, 4, 6, 8, 10]

In [ ]:
# 총 5명의 학생이 시험을 보았다. 
# 시험점수가 60점 이상이면 합격이고, 그렇지 않으면 불합격이다.


marks = [90, 25, 67, 45, 80]

for i in range(len(marks)):
    if marks[i] >= 60:
        print(f"{i+1}번 학생은 합격입니다.")
    else:
        print(f"{i+1}번 학생은 불합격입니다.")

1번 학생은 합격입니다.
2번 학생은 불합격입니다.
3번 학생은 합격입니다.
4번 학생은 불합격입니다.
5번 학생은 합격입니다.

In [ ]:
# 끝말잇기 게임
print("끝말잇기 게임")
print("시작")

var = "가나다"
print(var)

while True:
    word = input("단어를 입력해주세요 : ")
    print(word)
    if word[0] == var[-1]:
        var = word
    else:
        print("땡")
        break

끝말잇기 게임
시작
가나다
다람쥐
쥐포
귀찮아
땡

### 업그레이드 문제

In [ ]:
# 리스트 numbers

numbers = [1,1,3,3,0,1,1]

answer = []
comp = numbers[0]
answer.append(comp)

for i in numbers: # 이전 숫자와 같은지 비교
    if comp != i: # 비교할 숫자 갱신
        comp = i
        answer.append(comp) # 새로운 숫자이므로 리스트에 삽입
answer

# result = []
# for i in range(len(numbers)-1):
#     if numbers[i] == numbers[i+1]:
#         continue
#     else:
#         result.append(numbers[i])
#     print(result)

[1, 3, 0, 1]

### 딕셔너리

In [ ]:
student = {'name' : 'Jimin', 'age' : 29, 'hobby' : 'game', 'nickname' : 'Jimin'}

In [ ]:
type(student)

dict

In [ ]:
mydict = {}
mydict = dict()

In [ ]:
student.keys()

dict_keys(['name', 'age', 'hobby'])

In [ ]:
student.values()

dict_values(['Jimin', '29', 'game'])

In [ ]:
student.items()

dict_items([('name', 'Jimin'), ('age', '29'), ('hobby', 'game')])

In [ ]:
for i in student.keys():
    print(i)

name
age
hobby
nickname

In [ ]:
for i in student.items():
    print(i)

('name', 'Jimin')
('age', 29)
('hobby', 'game')
('nickname', 'Jimin')

In [ ]:
student['nickname'] = '망개떡'

In [ ]:
student

{'name': 'Jimin', 'age': 29, 'hobby': 'game', 'nickname': '망개떡'}

In [ ]:
student['addr'] = '서울시 용산구'

In [49]:
student.get('addr2')

In [51]:
student.pop('age')

29

In [52]:
student.popitem()

('addr', '서울시 용산구')

In [55]:
'name2' in student.keys()

False

In [56]:
29 in student.values()

False

In [58]:
for i, j in student.items():
    print(i, j)

name Jimin
hobby game
nickname 망개떡

In [1]:
# 모스부호  
#문자열 letter가 주어질 때, letter를 영어 소문자로 바꾼 문자열을 출력 하도록 코드작성 
#모스부호는 다음과 같습니다. 

morse = { 

    '.-':'a','-...':'b','-.-.':'c','-..':'d','.':'e','..-.':'f', 

    '--.':'g','....':'h','..':'i','.---':'j','-.-':'k','.-..':'l', 

    '--':'m','-.':'n','---':'o','.--.':'p','--.-':'q','.-.':'r', 

    '...':'s','-':'t','..-':'u','...-':'v','.--':'w','-..-':'x', 

    '-.--':'y','--..':'z' 
} 
 

# 입출력 예 

# letter  result 

# ".... . .-.. .-.. ---"  "hello" 

# ".--. -.-- - .... --- -."   "python"

In [3]:
morse_input = input("모스 부호를 입력하시오").split(' ')

for i in morse_input:
    print(morse[i], end='')

hello

In [10]:
morse = { 

    '.-':'a','-...':'b','-.-.':'c','-..':'d','.':'e','..-.':'f', 

    '--.':'g','....':'h','..':'i','.---':'j','-.-':'k','.-..':'l', 

    '--':'m','-.':'n','---':'o','.--.':'p','--.-':'q','.-.':'r', 

    '...':'s','-':'t','..-':'u','...-':'v','.--':'w','-..-':'x', 

    '-.--':'y','--..':'z' 
} 

letter = ".... . .-.. .-.. ---"

a = letter.split()
answer = ''

for i in a:
    answer += morse[i]
    
print(answer)

hello

### set 자료형

중복을 허용하지 않고, 순서가 없는 데이터

In [11]:
s = {1, 2, 3, 4, 2, 3}

In [12]:
type(s)

set

In [13]:
s. add(5)

In [14]:
s

{1, 2, 3, 4, 5}

In [15]:
s.remove(3)

In [16]:
s

{1, 2, 4, 5}

In [17]:
my_list = [1, 2, 3, 5, 1, 2, 3]

In [19]:
# 중복제거용으로 set 을 사용함
list(set(my_list))

[1, 2, 3, 5]

In [20]:
a = {1, 2, 3, 4}
b = {3, 4, 5, 6}

In [21]:
a | b

{1, 2, 3, 4, 5, 6}

In [24]:
# 합집합
a.union(b)

{1, 2, 3, 4, 5, 6}

In [ ]:
# 교집합
a & b

{3, 4}

In [25]:
a.intersection(b)

{3, 4}

In [27]:
# 차집합
a - b

{1, 2}

In [28]:
a.difference(b)

{1, 2}

### 튜플

초기화 후 편집 불가능(immutable)

In [29]:
t1 = ()

In [30]:
t2 = (1, 2, 3)

In [31]:
type(t2)

tuple

In [32]:
t2[0]

1

In [33]:
t4 = 1, 2, 3, 4

In [34]:
t3 = ('a', 4, ('ab', 'g'))

In [35]:
rawdata = ()

In [ ]:
#빼빼로데이

빼빼로의 종류는 6가지 맛('누드초코', '아몬드', '초코', '크런키', '크림치즈', '화이트쿠키')이 있었습니다.
이벤트 빼빼로는 한가지 맛에 하나만 구매할 수 있습니다.
구매한 빼빼로를 오름차순으로 정렬하여 결과를 나타내 주세요.

입력1
["초코", "누드초코", "크런키", "아몬드", "초코", "누드초코", "아몬드", "화이트쿠키", "초코", "초코"]

출력1
['누드초코', '아몬드', '초코', '크런키', '화이트쿠키']

In [9]:

pepero = [

"초코", "누드초코", "크런키", "아몬드", "초코", "누드초코", "아몬드", "화이트쿠키", "초코", "초코"]

answer = list(set(pepero))
answer.sort()

print(answer)

['누드초코', '아몬드', '초코', '크런키', '화이트쿠키']

In [ ]:
영단어갯수세기

내가 외운 단어의 개수는 몇개일까요?

입력1
"culture experience symbol symbol education symbol effect education affair liberty liberty affair"

출력1
7

In [21]:
word = "culture experience symbol symbol education symbol effect education affair liberty liberty affair"

answer = word.split()
print(len(set(answer)))

7

### 함수와 클래스

특정 동작을 수행하는 일정한 코드의 모임
지금까지 파이썬의 다양한 내장함수를 사용해 왔음
print(), input(), int()
내장함수와 사용자 정의함수
<!-- 
https://docs.python.org/ko/3/library/functions.html
 -->

In [ ]:
dir(__builtins__)

In [30]:
#  함수 정의

def my_Func(a):
    print(f'{a}, 내가 만든 함수입니다.')

In [32]:
my_Func('Hey')
my_Func('Hello')
my_Func('Hi')

Hey, 내가 만든 함수입니다.
Hello, 내가 만든 함수입니다.
Hi, 내가 만든 함수입니다.

In [33]:
def my_sum(a, b):
    result = a + b
    return result

In [38]:
my_sum(3, 4)

num1 = my_sum(3, 4)
num2 = my_sum(7, 4)

print(num1, num2)

7 11

In [ ]:
# 문제
def num_max(a, b, c):
    if a > b:
        if a > c: 
            return a
    elif b > c:
        if b > a:
            return b
    else:
        return c

# 강사님 풀이
def max_num(a, b, c):
    max_val = a 
    if b > max_val:
        max_val = b 
    if c > max_val:
        max_val = c
    return max_val


# 함수 호출 부분
num = num_max(10, 12, 7)
num

12

In [46]:
# 함수
def num_min(arr):
    answer = arr[0]
    for i in arr:
        if answer > i:
            answer = i
    return answer    
    
testArray = [52, 273, 32, 103, 275, 24, 57]
num_min(testArray)

24

In [47]:
# morse = { 

#     '.-':'a','-...':'b','-.-.':'c','-..':'d','.':'e','..-.':'f', 

#     '--.':'g','....':'h','..':'i','.---':'j','-.-':'k','.-..':'l', 

#     '--':'m','-.':'n','---':'o','.--.':'p','--.-':'q','.-.':'r', 

#     '...':'s','-':'t','..-':'u','...-':'v','.--':'w','-..-':'x', 

#     '-.--':'y','--..':'z' 
# } 

def morse_to_string(letter):
    morse = { 

    '.-':'a','-...':'b','-.-.':'c','-..':'d','.':'e','..-.':'f', 

    '--.':'g','....':'h','..':'i','.---':'j','-.-':'k','.-..':'l', 

    '--':'m','-.':'n','---':'o','.--.':'p','--.-':'q','.-.':'r', 

    '...':'s','-':'t','..-':'u','...-':'v','.--':'w','-..-':'x', 

    '-.--':'y','--..':'z' 
} 
    

    a = letter.split()
    answer = ' '
    for i in a:
        answer += morse[i]

    return answer

In [48]:
letter = ".... . .-.. .-.. ---"

morse_to_string(letter)

' hello'

In [ ]:
# 여러 개의 입력값을 받는 함수 만들기

# def add_many(*args) --> 여러개의 입력값을 받아서 튜플로 만들어준다.

In [58]:
# 사용 예시
def add_many(*args):
    print(args)
    sum = 0
    for i in args:
        sum += i
    return sum

In [55]:
add_many(1,2)

(1, 2)

In [54]:
add_many(1, 2, 3, 4, 5, 6, 7)

(1, 2, 3, 4, 5, 6, 7)

In [ ]:
def add_mul(choice, *args):
    print(args)
    if choice == 'add':
        sum = 0
        for i in args:
            sum += i
        return sum
    elif choice == 'mul':
        mul = 1
        for i in args:
            mul *= i
        return mul
    else: 
        print("연산자 종료 확인 요망")
        return None

In [67]:
add_mul('add', 1, 2, 3, 4, 5)

(1, 2, 3, 4, 5)

15

In [68]:
add_mul('mul', 1, 2, 3, 4, 5)

(1, 2, 3, 4, 5)

120

In [69]:
def add_and_mul(a, b):
    return a+b, a*b

In [71]:
result = add_and_mul(3, 4) # 7, 12
print(result[0], result[1])
# 리턴 형태는 한개의 값이 리턴된다.

7 12

In [72]:
result1, result2 = add_and_mul(3, 4)
# 리턴값을 하나씩 받을 수 있음

In [73]:
result1

7

In [74]:
result2

12

In [75]:
def say_my_self(name, age, man = True):
    print(f"{name}, {age}")
    if man: 
        print('나는 남자입니다.')
    else:
        print('나는 여자입니다.')

In [77]:
say_my_self('박지민', 29)

박지민, 29
나는 남자입니다.