# 2025-09-19

In [3]:
print("안녕하세요 지금부터 파이썬을 시작하려고 합니다.")

안녕하세요 지금부터 파이썬을 시작하려고 합니다.

In [4]:
"Hello" # 문자열 string

'Hello'

In [5]:
123 # 정수형

123

In [6]:
36.5 # 실수형

36.5

In [7]:
True, False # 논리데이터(boolean) -> 참, 거짓

(True, False)

In [8]:
print("Hello World")

Hello World

In [9]:
print(123)

123

In [10]:
print(True)

True

In [1]:
type("hello world")

str

In [2]:
type(True)

bool

## 연산자

# +, -, *, /, //, %, **

In [4]:
num1 = 7
num2 = 3

In [5]:
num1 / num2

2.3333333333333335

In [ ]:
num1 // num2 # 몫

2

In [8]:
num1 % num2 # 나머지

1

In [ ]:
num1 ** num2 # 제곱

343

In [13]:
str1 = "Hello"
str2 = "World"

In [14]:
str1 + str2

'HelloWorld'

In [15]:
num1 * str1

'HelloHelloHelloHelloHelloHelloHello'

In [22]:
# str1 + num1

## 비교 연산자

In [16]:
mynumber = 100

같다, 다르다, 크다, 작다
==, !=, >, <, >=, <=

In [17]:
5 == 3

False

In [18]:
5 != 3

True

In [19]:
5 > 3

True

In [20]:
5 < 3

False

In [23]:
5 <= 3

False

In [24]:
5 >= 3

True

In [25]:
print(str1 + str2)

HelloWorld

## 사용자 입력

In [26]:
input()

'Hello'

In [28]:
name = input()
print("이름은", name, "입니다.")

이름은 전혜나 입니다.

In [29]:
num1 = 7
num2 = 3

In [ ]:
# 사용자로부터 숫자 입력을 받아서 '+, -, *, /' 연산을 수행해주세요

num1 = int(input("첫 번째 숫자를 입력해주세요: "))
num2 = int(input("두 번째 숫자를 입력해주세요: "))

print(num1 + num2)
print(num1 - num2)
print(num1 * num2)
print(num1 / num2)

10
2
24
1.5

## 형변환

In [ ]:
int(), float(), str()

In [35]:
int('7')

7

In [36]:
float('3.14')

3.14

In [37]:
str(7)

'7'

In [42]:
sentense = """
안녕
반가워
"""
print(sentense)

안녕
반가워

In [ ]:
print("\'낮 말\'은 새가 듣고, \'밤말\'은 쥐가 듣는다.")

'낮 말'은 새가 듣고, '밤 말'은 쥐가 듣는다.

In [46]:
print("Hello\n" * 5)

Hello
Hello
Hello
Hello
Hello

In [57]:
print("Hello" * 5)

HelloHelloHelloHelloHello

In [60]:
print("Hello", "Hello", "Hello", "Hello", "Hello", end = ",", sep="/")

Hello/Hello/Hello/Hello/Hello,

In [62]:
num1 = int(input("첫 번째 숫자를 입력해주세요: "))
num2 = int(input("두 번째 숫자를 입력해주세요: "))

print(num1 + num2)
print(num1 - num2)
print(num1 * num2)
print(num1 / num2)

8
2
15
1.6666666666666667

In [71]:
# f-string 사용
num1 = 7
num2 = 3

print(num1, "+", num2, "=", num1+num2)

print(f"더하기의 결과 : {num1} + {num2} = {num1+num2}")

7 + 3 = 10
더하기의 결과 : 7 + 3 = 10

### bool 자료형

In [ ]:
True 참, False 거짓

In [73]:
1 ==1

True

In [75]:
print(type(True))

<class 'bool'>

In [76]:
int(), str(), float(), bool()

(0, '', 0.0, False)

In [77]:
bool(0)

False

In [ ]:
#  미션
# 분식집 주문 프로그램

order1 = int(input("김밥 주문갯수 : "))
order2 = int(input("떡볶이 주문갯수 : "))
order3 = int(input("라면 주문갯수 : "))

print(f"지불하실 금액은 {order1*3000 + order2*3500 + order3*2500} 입니다.")

지불하실 금액은 9000 입니다.

### 조건문

In [87]:
# 조건에 따라서 명령어의 실행여부가 결정

# if 조건문 형식
# if 조건 : 
#   실행할 명령

# 조건문 밖의 명령어

In [94]:
# 조건문 예시

money = False

if money:
    print("스테이크를 먹는다.")
    print("커피를 마신다.")
print("택시도 탄다.")
print("조건문 종료")

택시도 탄다.
조건문 종료

### if-else 조건문

In [ ]:
#  if-else 조건문

#  if 조건:
#   수행할 명령
# else:
#  다른 명령

# if- elif 조건문

# if 조건1:
#  수행할 명령1
# elif 조건2:
#   수행할 명령2
# else:
#   나머지 처리

In [ ]:
num = 3

# if num % 2 == 0:
if num % 2 == 0:
    print("짝수")
else:
    print("홀수")

In [ ]:
# 짝수홀수 구분

# num % 2 == 0 -> 짝수

num = 3

# if num % 2 == 0:
if num > 100:
    print("너무 커요")
else:
    print("작아요")

In [ ]:
and or

In [96]:
eng = 10
math = 100

if eng >= 90 and math >= 90:
    print('스티커')
else:
    print("좀 더 노력하세요")

좀 더 노력하세요

In [ ]:
if eng >= 90:
    if math >= 90:
        print("둘다 성공")
    else:
        print("좀 더 노력")
else:
    print('많이 노력')

많이 노력

In [99]:
num = int(input('숫자를 입력하세요: '))

print(f"숫자를 입력하세요 : {num}")

if num % 2 == 0:
    print("짝수입니다.")
else:
    print("홀수입니다.")

숫자를 입력하세요 : 100
짝수입니다.

In [100]:
# 다른 방식

num = int(input('숫자를 입력하세요: '))

result = num % 2 

if result:
    print('홀수입니다.')
else:
    print("짝수입니다.")

짝수입니다.

In [102]:
# 점수 판별기

score = int(input())

if score >= 90:
    print('A')
elif score >=80:
    print('B')
elif score >=70:
    print('C')
elif score >= 60:
    print('D')
else:
    print('F')

C

### 반복문

#### for, while 반복문

In [ ]:
for 변수 in 이터러블(반복 가능한):
    반복할 문장

In [ ]:
for i in range(10):
    # range -> (1, 10) 으로도 표현 가능
    # range -> (1, 10+1, 2) [start, end, step]
    print(f"{i}번째 Hello")

0번째 Hello
1번째 Hello
2번째 Hello
3번째 Hello
4번째 Hello
5번째 Hello
6번째 Hello
7번째 Hello
8번째 Hello
9번째 Hello

In [107]:
for i in range(10, 0, -1): 
    print(f"{i}번째 Hello")

10번째 Hello
9번째 Hello
8번째 Hello
7번째 Hello
6번째 Hello
5번째 Hello
4번째 Hello
3번째 Hello
2번째 Hello
1번째 Hello

In [113]:
# for 반복문과 range()함수를 사용해서 1부터 10까지의 합을 출력해주세요

sum = 0
for i in range(1,11):
    sum += i 
print(sum)

55

In [114]:
# for 반복문과 range() 함수를 사용해서 1부터 10까지의 곱을 출력

mul = 1
for i in range(1,11):
    mul *= i
print(mul)

3628800

In [116]:
# for 반복문과 range() 함수를 사용해서 사용자로부터 입력받은 숫자에 해당하는
# 구구단을 출력해주세요

num = int(input())

for i in range(1,10):
    print(f"{num} x {i} = {num * i}")

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18

In [ ]:
while 조건:
    반복할 문장들

In [1]:
# print('Hello) 5번만 출력
i = 1
while i <= 5:
    print(f"{i}번쨰 Hello")
    i += 1

1번쨰 Hello
2번쨰 Hello
3번쨰 Hello
4번쨰 Hello
5번쨰 Hello

In [10]:
# While 문을 이용해서 1부터 사용자로부터 입력받은 정수값까지의 합을 구해주세요

# num = int(input())
num = 10 # 임시로 10 부여함 
sum = 0
i = 1
while i <= num:
    sum += i
    i += 1
print(sum)

55

In [16]:
prompt = """
1. Add
2. Del
3. List
5. Quit

Enter number: """

In [20]:
num = 0
while number != 4:
    print(prompt)
    num += 1
    number = int(input("원하는 메뉴의 번호를 입력하세요: "))

#### break, continue

In [32]:
# 1부터 10까지 더하되, 합이 20 이상이 되는 때의 정수값을 찾고싶어
sum = 0
for i in range(1, 10, +1):
    sum += i
    if sum >= 20:
        print(f"정수 : {i}, 합계: {sum}")
        break
    # print(sum)

1
3
6
10
15
정수 : 6, 합계: 21

In [33]:
# continue
for i in range(10):
    if i % 3 == 0:
        continue
    print(i, end=" ")

1 2 4 5 7 8

In [4]:
# 숫자 맞추기 게임 

import random

answer = random.randint(1,100)

while True:
    num = int(input("1부터 100 사이의 숫자를 맞춰주세요:"))
    if num == answer:
        print("정답입니다.")
        break
    elif num > answer:
        print("너무 커요")
    else:
        print("너무 작아요")
 
print("게임 종료")

너무 작아요
너무 작아요
너무 작아요
너무 작아요
너무 커요
너무 작아요
너무 작아요
너무 작아요
정답입니다.
게임 종료

In [11]:
# 20보다 작은 정수 중에서 3의 배수와 5의 배수 제외하고 출력
# continue & break 무조건 사용 
# While True 구문 사용 

num = 1
while True:
    if num > 20:
        break
    if num % 3 == 0 or num % 5 == 0:
        num += 1
        continue
    print(num, end = " ")
    num += 1

1 2 4 7 8 11 13 14 16 17 19

In [14]:
i = 0
while True : 
    i += 1
    if i >= 20:
        # print(f"{i} break")
        break
    if i % 3 == 0 or i % 5 == 0:
        # print(f"{i} continue")
        continue
    print(i, end = " ")

1 2 4 7 8 11 13 14 16 17 19

In [ ]:
# 중첩반복문
# 2 x 1 = 2
# 2 x 2 = 4
#   .
#   .
#   .
#   .

In [62]:
# 2단부터 9단까지

dan = 2

for dan in range(2, 10):
    for i in range(1, 10):
        print(f"{dan} * {i} = {dan * i}")
    print(" ")

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27

4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45

6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63

8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72

9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [63]:
# 트리 출력하기
# 문자열 반복 연산
# 1/3/5/7/9

num = 1
for i in range(1,11):
    print("*" * num)
    num += 2

*
***
*****
*******
*********
***********
*************
***************
*****************
*******************

In [ ]:
# 트리 출력하기

num = 1
star = 19
for i in range(1,11):
    space = (star - num) // 2
    print(" " * space + "*" * num)
    num += 2

         *
        ***
       *****
      *******
     *********
    ***********
   *************
  ***************
 *****************
*******************

#### 파이썬 도전 미션

In [67]:
# 100 미만 절사 처리

pay = 12345678

result = (pay // 100) * 100 

print(result)

12345600

In [ ]:
# Todo: 변수 a에 저장된 값의 b자리 값을 계산하여	 변수 c에 저장하는 코드를 설계하라  
# 예를 들어 a에 1234가 저장되어 있고 b가 1일 경우 첫 번째 자리값인 4가 c에 저장된다.  
# a가 1234일때 b가 4일 경우는 4번째 자리값인 1이 c에 저장되어야 한다.